*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 10px;
}

h1{
    margin: 1vh 0;
    font-size: 2.5em;
    text-align: center;
}

img{
    max-width: 100%;
    max-width: 100%;
}

header{
    padding: 5vh 0;
}

header p {
    text-align: center;
    font-size: 1.2em;
    width: 30vw;
    margin: 0 auto;
}

.container{
    height: 25vh;
    width: 25vh;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(36, 140, 209);
    padding: 0 15px;
}

.main{
    font-family: 'sour gummy';
    font-size: 1.6em;
}

.main p{
    padding: 2px;
}

h2{
    padding: 5px;
}

.main p:last-of-type::after {
    content: "|";
    animation: blink 3s infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }

    20%{
        opacity: 0;
    }

    25%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
}